<div id="main-second-page">
  <div id='line1' class='text'>Verification email was sent to: <br> {{email}} </div>
  <div id='line2' class='text'>Follow the link in a message to proceed with registration</div>


    <!-- now send again goes to home page because empty string in routerLink="" means home page -->
    <button  type="submit"  id="button-submit" (click)="navToForm()">CLOSE THIS WINDOW</button>
    <div id="not-received">did not receive email?</div>
    <button type="button" id='send-again'  (click)="navBack()" class='text'>send again </button>


</div>
