<div id="main-form-page">
  <div >
    <div id="step" class='text'>
      step 1 of 6
      <p>it will take about 3 min</p>
    </div>
    <div id="continue">continue registration for {{email}}</div>

  </div>

  <form id="form-container" >
    <label id="affiliation" for="affiliation">affiliation</label>
    <select id="affiliation" name="affiliation">
      <option value="oner">Business owner</option>
      <option value="student">Student</option>
      <option value="employee">Employee</option>
      <option value="investor">Investor</option>
    </select>
    <label class="label" for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="NAME">
    <label for="surname">Surname</label>
    <input type="text" id="surname" name="surname" placeholder="SURNAME">
    <label for="personalCode">Personal code</label>
    <input type="text" id="personalCode" name="personalCode" placeholder="PERSONAL CODE">
    <span>
      <input type="checkbox" class="checkbox1" name="checkbox1" placeholder="PERSONAL CODE">
      <label for="checkbox1">Personal code is not assigned</label>
    </span>

    <label id="nationality" for="nationality">nationality</label>
    <select id="nationality" name="nationality">
      <option value="Lithuanian">Lithuanian</option>
      <option value="British">British</option>
      <option value="American">American</option>
      <option value="German">German</option>
    </select>
    <label for="checkbox">PEP** (politically exposed person) status. If yes please state the role/position</label>
    <span>
      <input class="checkbox" type="checkbox"  name="checkbox"> YES
      <input class="checkbox" type="checkbox" name="checkbox"> NO
    </span>

    <label id="role/position" for="role/position">role/position</label>
    <select id="role/position" name="role/position">
      <option value="Manager">Manager</option>
      <option value="Developer">Developer</option>
      <option value="HR">HR</option>
      <option value="CEO">CEO</option>
    </select>

    <button type="submit" value="Submit">Next step</button>

  </form>

</div>
