<div id="main-form-page">
  <div id='step' class='text'>

    <h1>step 1 of 6</h1>
    <p>it will take abuot 3 min</p>

    <h1>continue registration for {{email}}</h1>

  </div>

  <form id="form-container" >
    <label id="affiliation" for="affiliation">affiliation</label>
    <select id="cars" name="cars">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="fiat">Fiat</option>
      <option value="audi">Audi</option>
    </select>
    <label for="fname">Name</label>
    <input type="text" id="fname" name="fname" value="NAME">
    <label for="lname">Surname</label>
    <input type="text" id="lname" name="lname" value="SURNAME">
    <label for="lname">Personal code</label>
    <input type="text" id="lname" name="lname" value="PERSONAL CODE">
    <span>
      <input type="checkbox" id="lname" name="lname" value="PERSONAL CODE">
      <label for="lname">Personal code is not assigned</label>
    </span>

    <label id="nationality" for="nationality">nationality</label>
    <select id="nationality" name="nationality">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="fiat">Fiat</option>
      <option value="audi">Audi</option>
    </select>
    <label for="lname">Personal code is not assigned</label>
    <span>
      <input type="checkbox" id="lname" name="lname" value="PERSONAL CODE"> YES
      <input type="checkbox" id="lname" name="lname" value="PERSONAL CODE"> NO
    </span>

    <label id="role/position" for="role/position">role/position</label>
    <select id="role/position" name="role/position">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="fiat">Fiat</option>
      <option value="audi">Audi</option>
    </select>

    <input type="submit" value="Submit">
  </form>

</div>
