<div id="main-form-page">
  <div >
    <div id="step" class='text'>
      step 1 of 6
      <p>it will take about 3 min</p>
    </div>
    <div id="continue">continue registration for {{email}}</div>

  </div>

  <form id="form-container" >
    <label id="affiliation" for="affiliation">affiliation</label>
    <select id="cars" name="cars">
      <option value="volvo">Business owner</option>
      <option value="saab">Student</option>
      <option value="fiat">Employee</option>
      <option value="audi">Investor</option>
    </select>
    <label class="label" for="fname">Name</label>
    <input type="text" id="fname" name="fname" value="NAME">
    <label for="lname">Surname</label>
    <input type="text" id="lname" name="lname" value="SURNAME">
    <label for="lname">Personal code</label>
    <input type="text" id="lname" name="lname" value="PERSONAL CODE">
    <span>
      <input type="checkbox" id="lname" name="lname" value="PERSONAL CODE">
      <label for="lname">Personal code is not assigned</label>
    </span>

    <label id="nationality" for="nationality">nationality</label>
    <select id="nationality" name="nationality">
      <option value="volvo">Lithuanian</option>
      <option value="saab">British</option>
      <option value="fiat">American</option>
      <option value="audi">German</option>
    </select>
    <label for="lname">Personal code is not assigned</label>
    <span>
      <input class="checkbox" type="checkbox" id="lname" name="lname" value="PERSONAL CODE"> YES
      <input class="checkbox" type="checkbox" id="lname" name="lname" value="PERSONAL CODE"> NO
    </span>

    <label id="role/position" for="role/position">role/position</label>
    <select id="role/position" name="role/position">
      <option value="volvo">Manager</option>
      <option value="saab">Developer</option>
      <option value="fiat">HR</option>
      <option value="audi">CEO</option>
    </select>

    <button type="submit"  value="Submit">Next step</button>

  </form>

</div>
