<div id='welcome' class='text'>Welcome message</div>
<div id='note' class='text'>Note that the service is only available to legal entities</div>
<div id='proceed' class='text'>Enter your email to proceed. <br> Your email will be your username in internet bank.</div>


  <form [formGroup]="Form" (ngSubmit)="onFormSubmit()" id="email-form"   >
  <div>
    <input
    formControlName="FooNumber"
email
    checkEmail
    id="email"
    name="email"
    type="email"
    placeholder="INFO@COMPANY.COM"
    required>


    <div >
			<div  class="error-msg"*ngIf="FooNumber?.errors?.['required'] && FooNumber?.errors?.['touched']">
				This is a required field.
			</div>
			<div  class="error-msg" *ngIf="FooNumber?.errors?.['pattern']">
				Enter a valid email.
			</div>
		</div>
    <!-- <div class="error-msg" *ngIf="loginForm.invalid && loginForm.touched ">
      Enter a valid email address
    </div>

    <div class="error-msg" *ngIf="(loginForm.invalid && loginForm.touched)">
      Enter address is required
    </div> -->

  </div>
  <button type="button" id="email-sign">@</button>
  <button type="submit" [disabled]= "Form.invalid" (click)="navToSecondComp()" id="button" >START</button>
</form>
